#root {
    -fx-background-image: url("/images/background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.text-field {
    -fx-font-size: 22px;
    -fx-background-color: transparent;
    -fx-text-fill: red;
    -fx-font-family: "OrgovanBrush";
    -fx-padding: 8 12 8 12;
    -fx-max-width: 400px;
    -fx-background-radius: 4px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}