.confirm-button {
    -fx-font-size: 22px;
    -fx-font-family: "OrgovanBrush";
    -fx-background-color: #e6b800;
    -fx-text-fill: #40250f;
    -fx-font-weight: bold;
    -fx-padding: 8 20 8 20;
    -fx-border-color: #333300;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.confirm-button:hover {
    -fx-background-color: #cc9900;
}