#root {
    -fx-background-image: url("/images/background2.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.scroll-pane {
    -fx-background-color: rgba(0, 0, 0, 0.5); /* translucent green */
}

.label {
    -fx-font-family: "OrgovanBrush";
    -fx-font-size: 18px;
    -fx-text-fill: #e6b800;
    -fx-fill: #e6b800;
    -fx-stroke: #996600;
    -fx-stroke-width: 2px;
}


.text-area {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
    -fx-font-size: 10pt; /* font size del testo nei log */
}

.text-area .content {
    -fx-background-color: rgba(0, 0, 0, 0.5); /* match the background */
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .viewport {
    -fx-background-color: transparent;
}