
.title {
    /* -fx-font-size: 72px; */
    /*-fx-font-family: "Obelix Pro Bold Italic";*/
    -fx-font-family: "OrgovanBrush";
    -fx-text-fill: #e6b800;
    -fx-fill: #e6b800;
    -fx-stroke: #996600;
    -fx-stroke-width: 2px;
}

.nickname-field {
    -fx-background-color: #e6b800;
    -fx-text-fill: #40250f;
    -fx-padding: 8 12 8 12;
    -fx-max-width: 400px;
    -fx-border-color: #996600;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-font-weight: bold;
}

.confirm-button {
    -fx-background-color: #996600;
    -fx-text-fill: #40250f;
    -fx-font-family: "OrgovanBrush";
    -fx-font-weight: bold;
    -fx-padding: 8 20 8 20;
    -fx-border-color: #333300;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.confirm-button:hover {
    -fx-background-color: #cc9900;
}

.log-field {
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-text-fill: red;
    -fx-font-family: "OrgovanBrush";
    -fx-padding: 8 12 8 12;
    -fx-max-width: 400px;
    -fx-background-radius: 4px;
    -fx-font-weight: bold;
}
