#root {
    -fx-background-image: url("/images/background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.scroll-pane {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: #cc9900;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .content {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.toggle-button {
    -fx-background-color: #cc9900;
    -fx-text-fill: #40250f;
    -fx-font-family: "OrgovanBrush";
    -fx-font-weight: bold;
    -fx-padding: 8 20 8 20;
    -fx-border-color: #333300;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.toggle-button:hover {
    -fx-background-color: #996600;
}

.button {
    -fx-background-color: #cc9900;
    -fx-text-fill: #40250f;
    -fx-font-family: "OrgovanBrush";
    -fx-font-weight: bold;
    -fx-padding: 8 20 8 20;
    -fx-border-color: #333300;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.button:hover {
    -fx-background-color: #996600;
}

.text-field {
    -fx-font-family: "OrgovanBrush";
    -fx-font-size: 14px;
    -fx-text-fill: #cc9900;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
